/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* -------------- fonts ---------------- */
@font-face {
   font-family: 'Monster-Unleashed';
   src: url('/assets/Monster Unleashed.ttf')
}

/* --------------- css ----------------- */
html {
  width: 100%;
  margin: 0 auto;
  background-image: url(falling_envelopes.jpg);
  overflow-y: scroll;
}

body, .row, .column, .footer {
  background-color: gray;
}

.page-header, .footer {
  border: 1px solid black;
}

body {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

#logo {
  font-size: 2.5em;
  font-family: 'Monster-Unleashed';
  padding: 7px 0 0 5px;
}

.topnav {
  background-color: #F74444;
  overflow: hidden;
  border: 1px solid black;
}

.nav-link {
  color: yellow;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font: bold 18px arial;
  display: inline-block;
}

.topnav a:hover {
  background-color: black;
  color: yellow;
}

.topnav a.active {
  background-color: yellow;
  border: solid;
  color: #CE0B0B;
}

.page-header {
  width: 100%
  margin: 0 auto;
  background-image: url(confetti.jpg);
  background-size: contain;
}

h1 {
  margin: auto;
}

.welcome {
  color: #B113D1;
  font: 4em arial;
  text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
}

.shadow {
  color: #C0F24C;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.column {
  float: left;
  flex: 33%;
  padding: 0px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width:  90%;
  height: 90%;
}

#col-head {
  font-size: 2.5em;
  text-decoration: underline;
}

#col-head.girls {
  color: pink;
}

#col-head.kids {
  color: yellow;
}

#col-head.boys {
  color: blue;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  border: 1px solid black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  overflow: hidden;
  position: relative;
  height: 10%;
  font-size: 0.75em;
  bottom: 0;
  padding: 10px 0 0 0;
}
