// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-table {
  border: 2px solid black;
  margin: 0 auto;
  width: 30%;
  padding: 10px 5px;
  background-color: #B5EC34;
}

.text_fields {
  font-size: 18px;
}

.submit-button {
  font-size: 18px;
}
