<div class="page-header">
  <h1 class="welcome">Email Invitations For You!</h1>
</div>

<h1 class="shadow">Pick an invitation to get started!</h1>

<div class="row">
  <div class="column"><p id="col-head" class="girls">For Girls!</p></div>
  <div class="column"><p id="col-head" class="kids">For Kids!</p></div>
  <div class="column"><p id="col-head" class="boys">For Boys!</p></div>
</div>

<div class="row">
  <div class="column"><a href="#"><img src='invitation-themes/90s-themed-birthday-forgirls.png' alt='90s-bday-girls'></a></div>
  <div class="column"><a href="#"><img src='invitation-themes/cake-birthday-forkids.png' alt='cake-bday-kids'></a></div>
  <div class="column"><a href="#"><img src='invitation-themes/starwars-birthday-forboys.jpg' alt='starwars-bday-boys'></a></div>
</div>

<div class="row">
  <div class="column"><a href="#"><img src='invitation-themes/cupcake-birthday-forgirls.jpg' alt='cupcake-bday-girls'></a></div>
  <div class="column"><a href="#"><img src='invitation-themes/instruments-birthday-forkids.jpg' alt='instruments-bday-kids'></a></div>
  <div class="column"><a href="#"><img src='invitation-themes/medieval-birthday-forboys.jpg' alt='medieval-bday-boys'></a></div>
</div>
