<div class="botnav">
  <a href="https://twitter.com/cdcardle">Twitter</a>
  <a href="https://github.com/cdcardle/email-invitation-project">GitHub</a>
</div>

<div>Created by Chris Cardle (<%= link_to "@cdcardle", "https://twitter.com/cdcardle" %>)</div>
