<div class="topnav">
  <div id="logo" class="floatleft">
    ~Emvitations~
  </div>
  <div class="floatright">
    <a class="active" href="/">Home</a>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
  </div>
</div>
